/* You can add global styles to this file, and also import other style files */
* {
    padding: 0px;
    margin: 0px;
    font-family: Poppins;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    padding-bottom: 50px;
}

/* src/styles.css */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    line-height: 1.6;
    color: #2d3436;
    overflow-x: hidden;
}

@media (max-width: 1200px) {
    aside {
        width: 220px;
    }
}

@media (max-width: 1024px) {
    aside {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    aside {
        transform: translateX(-100%);
        width: 200px;
    }

    aside.sidebar-open {
        transform: translateX(0);
    }
}

@media (max-width: 480px) {
    .hamburger {
        top: 10px;
        right: 10px;
    }

    aside {
        width: 180px;
        padding: 15px;
    }
}

@media (max-width: 320px) {
    .hamburger {
        top: 8px;
        right: 8px;
    }

    aside {
        width: 160px;
        padding: 10px;
    }
}



html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}